name: Gorson Docker Latest Image Build and Publish

on:
  push:
    branches: 
      - main

permissions:
  id-token: write
  contents: read

jobs:
  code-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.25.4'
      - name: Run tests
        run: ./scripts/test.sh

  image-build-and-publish:
    runs-on: ubuntu-latest
    needs: code-test
    steps:
      - uses: actions/checkout@v4
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@main
        with:
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Log in to Amazon ECR Public
        uses: aws-actions/amazon-ecr-login@v2
        with:
          registry-type: public
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push multi-arch image
        run: |
          docker buildx build \
            -f Dockerfile.github \
            --platform linux/amd64,linux/arm64 \
            -t ${{ secrets.AWS_ECR_PUBLIC_URI }}:latest \
            --push .

  image-test:
    runs-on: ubuntu-latest
    needs: image-build-and-publish
    steps:
      - uses: actions/checkout@v4
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@main
        with:
          role-to-assume: ${{ secrets.AWS_OIDC_ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Log in to Amazon ECR Public
        uses: aws-actions/amazon-ecr-login@v2
        with:
          registry-type: public
      - name: Test Docker image build
        run: |
          docker build -f Dockerfile.github-test -t gorson-test .
          docker run --rm gorson-test
